@model List<Note>

@{
    ViewData["Title"] = "Details";
    Book book = (Book)ViewData["books"];
}

<h2>Details</h2>

<div>
    <a href="/" class="btn btn-info">Back to library</a>
    <a class="btn btn-success" asp-controller="Notes" asp-action="Create" asp-route-isbn="@book.Isbn" asp-route-UserName="@book.UserId">Add new note</a>
    
    <hr />
    @if (Model != null)
    {
        foreach (var note in Model)
        {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => note.Isbn)
                </dt>
                <dd>
                    @Html.DisplayFor(model => note.Isbn)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => note.PageNote)
                </dt>
                <dd>
                    @Html.DisplayFor(model => note.PageNote)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => note.PageNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => note.PageNumber)
                </dd>
                <dt>                    
                </dt>
                <dd>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@note.NoteID" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@note.NoteID" class="btn btn-danger">Delete</a>                        
                    </div>
                </dd>
            </dl>
        }
    }
</div>